.nav-container{
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
}

.right-side li, .left-side li{
    display: inline-block;
}

.right-side li a, .left-side li a{
    text-decoration: none ;
    display: block;
    width: 100%;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 10%;
}

.btn{
    margin-right: 10px;
}